*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    scroll-behavior: smooth;
}

#contact{
        scroll-margin-top: 100px;
}

.header {
    z-index: 10;
    margin-left: 1px;
    
}

.header{
    position: relative;
}

/* bottom animated line */
.header::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;   /* border thickness */

    background: linear-gradient(to right, 
    #656565, #7f42a7, #6600c5,
    #5300a0, #757575, #656565);

    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
}

@keyframes animationGradient{
    to{
        background-position: 200%;
    }
}

.uni-color{
    color: #c9caca;
}

.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 800px 15px rgb(255, 255, 255);
    rotate: -30deg;
    z-index: -1;
}

nav a{
    text-decoration: none;
    color: rgb(173, 173, 173);
    transition: color 0.2 ease;
    z-index: 1000;

}

nav a:hover{
    color: #ffffff;
}

.glow-text {
    text-shadow: 0 0 5px #6d6f70,
                 0 0 10px #3e4042,
                 0 0 20px #95a3b9;
}

.hello{
    color: #c9caca;
}
.sd{
    color: rgb(224, 220, 220);
}


.robot-3d{
    position: absolute;
    top: -20%;
    left: 50%;
    bottom: 100%;
    pointer-events: none;
}

@media (max-width: 1000px) {
    .robot-3d {
        left: 2%;
        top: 0%;
    }
}

@media(max-width: 1000px){
    .skill-line{
    margin-top: 10rem;
}
}

@media(min-width: 1000px){
    .skill-line{
    margin-top: 4rem;
}
}


.d1{
    color: #c9caca;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5,
    #5300a0, #757575, #656565);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
    background-color: black;
    border-radius: 50px;
    transition: 0.5s ease;
}

.d2 {
    border-radius: 50px;
}


@keyframes animationGradient{
    to{
        background-position: 200%;
    }
}

.intro-text{
    opacity: 0;
    transform: translateX(-100px);
    animation: slideIn 2s ease forwards;
}


@keyframes slideIn{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.iconline{
    cursor: pointer;
    border-radius: 8px;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5,
    #5300a0, #757575, #656565);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
    transition: 0.5s ease;
}



